@import "tailwindcss";



:root { 
  --font-main :'Poppins',sans-serif; 
  --font-Barlow : 'Barlow',sans-serif;
  --font-Roboto : 'Roboto',sans-serif;
  --font-Pacifico : 'Pacifico',sans-serif;
  --font-Satisfy : 'Satisfy',sans-serif;

  --color-primary : #ef791e;
  --color-secondary : #575750
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5; 
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #56564f; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
font-family: var(--font-main);
}

button {
  cursor: pointer;
}


